[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
tortoise-orm = "*"
aerich = "*"
pytest = "*"
requests = "*"
python-multipart = "*"
python-magic = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
pytest-cov = "*"
