[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
tortoise-orm = "*"
aerich = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
